.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 50px);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgb(204, 201, 236), rgb(111, 248, 87));
    filter: none;
}

.top{
    display: flex;
    grid-column: span 3;
    height: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top > div:nth-child(1){
    align-self: center;
}

.top > div:nth-child(2){
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.top > div:nth-child(3){
    align-self: center;
}

.top > div:nth-child(3) > button{
    height: 20px;
    font-size: 15px;
    justify-self: center;
    align-self: center;
    border-radius: 12px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
}

.top > div:nth-child(3) > button:hover{
    background-color: rgb(15, 189, 15);
}

.top > div:nth-child(3) > button:active{
    transform: translateY(2px);
}

#form{
    grid-row: span 9;
    grid-column: span 3;
    display: none;
    border: none;
}

.myform{
    display: grid;
    background-color: rebeccapurple;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    height: 120px;
    width: 240px;
    gap: 3px;
}

#name{
    margin-top: 8px;
    height: 30px;
    width: 210px;
    border: none;
    border-radius: 20px;
}

#pass{
    height: 30px;
    width: 210px;
    border: none;
    border-radius: 20px;
}

.submit{
    height: 25px;
    width: 90px;
    border-radius: 25px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(115, 190, 2);
}

.submit:active{
    transform: translate3d(-2px, 2px, -2px);
}

.cancel{
    display: inline;
    height: 25px;
    width: 90px;
    background-color: rgb(253, 85, 85);
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.cancel:hover{
    background-color: rgb(194, 33, 33);
}

.cancel:active{
    transform: translate3d(2px, 2px, 2px);
}


#plant-location{
    height: 25px;
    width: 210px;
    border: none;
    border-radius: 25px;
    margin-left: auto;
}

#postPlant{
    margin-top: 4px;
    height: 25px;
    width: 90px;
    background-color: chartreuse;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

#postPlant:hover{
    background-color: rgb(89, 172, 6);
}

#postPlant:active{
    transform: translateY(2px);
}

#add-plant-to-db{
    display: grid;
    grid-template-rows: 50px 98px;
    height: 150px;
    gap: 2px;
}

#add-plant-to-db > :nth-child(1){
    font-size: 20px;
    justify-self: center;
    align-self: center;
}
#add-plant-to-db > :nth-child(2){
    justify-self: center;
}